<!-- PAGE -->
<section class="page-section">
  <div class="container">
    <h1 class="section-title">
            <span data-animation="flipInY" data-animation-delay="300" class="icon-inner"><span><p class="text-center avatar"><img src="https://yt3.ggpht.com/-lLJgAA673JM/AAAAAAAAAAI/AAAAAAAAAAA/_09Psqw51ao/s88-c-k-no/photo.jpg" style="width:50px"></p></span></span>
            <span data-animation="fadeInRight" data-animation-delay="500" class="title-inner">熱門商品 <small> / 熱門必嚐</small></span>
        </h1>
    <div class=" thumbnails hotels">
      <div class="carousel-slider">
        <div class="owl-carousel slide-4">
          <div>
            <div class="thumbnail no-border no-padding">
              <div class="media">
                <img src="<%=Product.find(23).attachment.file%>" alt="" style="height:300px">
                <div class="caption hovered">
                  <div class="caption-wrapper div-table">
                    <div class="caption-inner div-cell">
                      <p class="caption-buttons"><a href="<%=homes_products_path%>" class="btn btn-theme caption-link">前往選購</a></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="caption">
                <h3 class="caption-title"><a href="<%=homes_products_path%>"><%=Product.find(23).name%></a></h3>
                <div class="caption-rating rating">
                  <span class="star"></span>
                  <!--
                                    --><span class="star active"></span>
                  <!--
                                    --><span class="star active"></span>
                  <!--
                                    --><span class="star active"></span>
                  <!--
                                    --><span class="star active"></span>
                </div>
                <p class="caption-text">＄
                  <%=Product.find(23).price%>
                </p>
                <p class="caption-more"><a href="<%=homes_products_path%>" class="btn btn-theme">前往預購</a></p>
              </div>
            </div>
          </div>
          <div>
            <div class="thumbnail no-border no-padding">
              <div class="media">
                <img src="<%=Product.find(10).attachment.file%>" alt="" style="height:300px">
                <div class="caption hovered">
                  <div class="caption-wrapper div-table">
                    <div class="caption-inner div-cell">
                      <p class="caption-buttons"><a href="<%=homes_products_path%>" class="btn btn-theme caption-link">前往選購</a></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="caption">
                <h3 class="caption-title"><a href="<%=homes_products_path%>"><%=Product.find(10).name%></a></h3>
                <div class="caption-rating rating">
                  <span class="star"></span>
                  <!--
                                    --><span class="star active"></span>
                  <!--
                                    --><span class="star active"></span>
                  <!--
                                    --><span class="star active"></span>
                  <!--
                                    --><span class="star active"></span>
                </div>
                <p class="caption-text">＄
                  <%=Product.find(10).price%>
                </p>
                <p class="caption-more"><a href="<%=homes_products_path%>" class="btn btn-theme">前往預購</a></p>
              </div>
            </div>
          </div>
          <div>
            <div class="thumbnail no-border no-padding">
              <div class="media">
                <img src="<%=Product.find(11).attachment.file%>" alt="" style="height:300px">
                <div class="caption hovered">
                  <div class="caption-wrapper div-table">
                    <div class="caption-inner div-cell">
                      <p class="caption-buttons"><a href="<%=homes_products_path%>" class="btn btn-theme caption-link">前往選購</a></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="caption">
                <h3 class="caption-title"><a href="<%=homes_products_path%>"><%=Product.find(11).name%></a></h3>
                <div class="caption-rating rating">
                  <span class="star"></span>
                  <!--
                                    --><span class="star active"></span>
                  <!--
                                    --><span class="star active"></span>
                  <!--
                                    --><span class="star active"></span>
                  <!--
                                    --><span class="star active"></span>
                </div>
                <p class="caption-text">＄
                  <%=Product.find(11).price%>
                </p>
                <p class="caption-more"><a href="<%=homes_products_path%>" class="btn btn-theme">前往預購</a></p>
              </div>
            </div>
          </div>
          <div>
            <div class="thumbnail no-border no-padding">
              <div class="media">
                <img src="<%=Product.find(2).attachment.file%>" alt="" style="height:300px">
                <div class="caption hovered">
                  <div class="caption-wrapper div-table">
                    <div class="caption-inner div-cell">
                      <p class="caption-buttons"><a href="<%=homes_products_path%>" class="btn btn-theme caption-link">前往選購</a></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="caption">
                <h3 class="caption-title"><a href="<%=homes_products_path%>"><%=Product.find(2).name%></a></h3>
                <div class="caption-rating rating">
                  <span class="star"></span>
                  <!--
                                    --><span class="star active"></span>
                  <!--
                                    --><span class="star active"></span>
                  <!--
                                    --><span class="star active"></span>
                  <!--
                                    --><span class="star active"></span>
                </div>
                <p class="caption-text">＄
                  <%=Product.find(2).price%>
                </p>
                <p class="caption-more"><a href="<%=homes_products_path%>" class="btn btn-theme">前往預購</a></p>
              </div>
            </div>
          </div>
          <div>
            <div class="thumbnail no-border no-padding">
              <div class="media">
                <img src="<%=Product.find(15).attachment.file%>" alt="" style="height:300px">
                <div class="caption hovered">
                  <div class="caption-wrapper div-table">
                    <div class="caption-inner div-cell">
                      <p class="caption-buttons"><a href="<%=homes_products_path%>" class="btn btn-theme caption-link">前往選購</a></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="caption">
                <h3 class="caption-title"><a href="<%=homes_products_path%>"><%=Product.find(15).name%></a></h3>
                <div class="caption-rating rating">
                  <span class="star"></span>
                  <!--
                                    --><span class="star active"></span>
                  <!--
                                    --><span class="star active"></span>
                  <!--
                                    --><span class="star active"></span>
                  <!--
                                    --><span class="star active"></span>
                </div>
                <p class="caption-text">＄
                  <%=Product.find(15).price%>
                </p>
                <p class="caption-more"><a href="<%=homes_products_path%>" class="btn btn-theme">前往預購</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center margin-top">
          <a data-animation="fadeInUp" data-animation-delay="100" href="<%=homes_products_path%>" class="btn btn-theme btn-theme-grey-dark btn-theme-md">全部商品</a>
        </div>
      </div>
</section>
<!-- /PAGE -->
<!-- PAGE -->
<section class="page-section" style="background-color:#95E1D3;height:150px">
  <div class="container">
    <h1 class="section-title" style="text-align:center">
            <span data-animation="fadeInRight" data-animation-delay="500" class="title-inner">台科竹友會 <small> / 竹塹美食週</small></span>
        </h1>
  </div>
</section>
<!-- /PAGE -->
<!-- PAGE -->
<section class="page-section">
  <div class="container">
    <h1 class="section-title">
            <span data-animation="flipInY" data-animation-delay="300" class="icon-inner"><span class="fa-stack"><i class="fa rhex fa-stack-2x"></i><i class="fa fa-file-text-o fa-stack-1x"></i></span></span>
            <span data-animation="fadeInRight" data-animation-delay="500" class="title-inner"> 竹塹美食</span>
        </h1>
    <div class="post-row">
      <div class="carousel-slider">
        <div class="owl-carousel slide-3">
          <% @products.each do |product| %>
            <div>
              <article class="post-wrap" data-animation="fadeInUp" data-animation-delay="100">
                <div class="post-media">
                  <div class="post-type">
                    <i class="fa fa-video-camera"></i>
                  </div>
                  <img src="<%=product.attachment.file%>" alt="" style="height:370px" />
                </div>
                <div class="post-header" style="text-align:center">
                  <h2 class="post-title"><a href="#"><%=product.name%></a></h2>
                  <div class="post-footer"></div>
              </article>
              </div>
              <%end%>
            </div>
            <div class="text-center margin-top">
              <a data-animation="flipInY" data-animation-delay="100" href="<%=homes_products_path%>" class="btn btn-theme btn-theme-grey-dark btn-theme-md">&nbsp;所有商品</a>
            </div>
        </div>
</section>
<!-- /PAGE -->